input {
  width: 30vw;
  height: 30px;
  border-radius: 5px;
  font-size:24px;
}

input:focus {
  outline-color: #5d6f89;
}


button {
  background-color:#5d6f89;
  border-radius:5px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:24px;
  padding:4px 10px;
  margin: 0 15px;
}
button:hover {
  background-color:#6b7d65;
}
button:focus {
  background-color:#6b7d65;
  outline-color: none;
}

button:disabled {
 background-color: #32343f;
}